@charset "ISO-8859-1";
/* ------------------------------------------------------------------------------- */
/* --- ESTILO PANTALLA INICIAL DE LA APLICACIÓN ---  */
/* ------------------------------------------------------------------------------- */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 0px;
	color: #857256;
	background-color: #FAF6EF;
	margin: 0px;
	overflow: auto;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 0px;
	color: #857256;
	background-color: #F5F5F5;
}


/* -------------------------------------------------------------------------------------------- */
/* -------------------------------- PANTALLA DE ENTRADA A LA APLICACIÓN ----------------------- */
/* -------------------------------------------------------------------------------------------- */
.container {
	width: 100%;
	min-height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-style: none;
	background-color: #FAF6EF;
}

.header {
	height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-style: none;
	font-size: 12px;
	font-weight: bold;
	color: #F5EEE1;
	background-color: #B2691B;
}

div#header {
	height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #F5EEE1;
	text-align: center;
	border-style: none;
	position: relative;
	display: table;
}
div#headerTxt {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #F5EEE1;
	float: left;
	left: 35px;
	position: relative;
	width: 90%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
div#headerToolbar {
	display: inline-block;
	text-align: right;
	float: left;
	width: 10%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background-color: #B2691B;
}

.btnCloseApp {
	border-style:none; 
	height:14px; 
	width:14px;
	position: relative;
	left: 1px; 
}


/* ----------------- */
/* TITULO APLICACIÓN */
div#containerTitle {
	height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	border-style: none;
	position: relative;
	display: table;
}

.backgroundTitle {
	width: 100%;
	height: 200px;
	vertical-align: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #dfdfdf;
}

div#descrTitle {
	font-size: 20px;
	color: #857256;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

div#title {
	font-size: 80px;
	color: #857256;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

div#version {
	font-size: 11px;
	color: #857256;	
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

/* ------------ */
/* MENÚ MÓDULOS */
.containerModules {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-style: none;
	vertical-align: top;
}

div#containerTitleModules { 
	height: 20px;
	width: 100%;
	padding: 0px;
	border-style: none;
	font-weight: bold;
	background-color: #D4BDA8;
	vertical-align: middle;
}

div#titleModules {
	text-align: center;
	float: left;
	width: 33%
}

.titleModules {
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	color: #857256;
	background-color: #D4BDA8;
}

div#containerOptions {
	vertical-align: top;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.contentMainMenu {
	display: block;
	float: left;
    margin:0px;
}

.mainMenu {
	width: 30%;
	float: left;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
}

.contentMainSubMenu {
	display: block;
	float: left;
    margin:0px;
}

.mainSubMenu {
	width: 30%;
	float: left;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
}

.linkOption {
	font-size: 14px;
	font-weight: normal;
	color: #857256;
	text-decoration: none;
}

.footer {
	vertical-align:bottom; 
	position: absolute;
	left: 50%;
	bottom: 2%;
	margin-left: -150px;
}

/*
.datos_cabecera { 
	color: #D4BDA8;
	border: 0px #F5EDF9 solid;
	font-weight: bold;
	background-color: #554F45;
}*/


/* ------------------------------------------------------------------------------------------------- */
/* -------------------------------- ESTRUCTURA DE UNA PANTALLA DE APLICACIÓN ----------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* ----------------------- */
/* BARRA SUPERIOR PANTALLA */
div#containerBar {
	height:30px;
	width:100%;
	border-style:none;
	background-color:#B2691B;
	color: #F5EEE1;
}

div#logoBar {
	padding: 2px;
	margin-top: 2px;
	width: 2%;
	float: left;
}

.logoBar {
	width:20px; 
	height:20px; 
	border-style:none; 
}

div#menuBar {
	margin-top: 6px;
	width: 4%;
	float: left;
	vertical-align:bottom;
}

div#titleBar {
	width: 40%;
	margin-top: 6px;
	text-align: center;
	float: left;
}
	
div#userBar {
	width: 20%;
	margin-top: 6px;
	text-align: center;
	float: left;
}
	
div#perfilBar {
	width: 15%;
	margin-top: 6px;
	border-style:none;
	text-align:center; 
	font-weight:bold;
	float: left;
}
div#timeBar {
	width: 5%;
	margin-top: 6px;
	display: inline;
	float: left;
}
div#dateBar {
	width: 5%;
	margin-top: 6px;
	display: inline;
	float: left;
}

div#toolBar {
	width: 5%;
	margin-right: 0px;
	margin-top: 6px;
	text-align: right;
	border-style:none;
	float: left; 
	vertical-align: middle;
	position: relative;
	left: 44px;
}

.btnClose {
	border-style:none;
	height:14px; 
	width:14px;
	position: relative;
	left: 1px;
}

.btnOutApp {
	border-style:none; 
	height:14px; 
	width:14px; 
}

div#bottomBar {
	background-color: #B2691B;
	height: 3px;
	width: 100%;
	text-align: bottom;
	float: left;
}

/* -------------------- */
/* BARRA SUPERIOR PANEL */
.barTopPanel {
	background-color: #A48669;	
	width: 100%;
	height: 20px;
	padding: 1px;
}

.titlePanel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	color: #F5EEE1;
	margin-left: 30px;
}

/* ------------ */
/* ESTILO PANEL */
.backgroundFil {
}

.backgroundLis {
}

.backgroundEdi {
}

/* -------------------- */
/* BARRA INFERIOR PANEL */
.barBottomPanel {
	color: #857256;
	background-color: #D5CEBC;
	text-align: right;
	vertical-align: bottom;
}

.pages {
	font-size: 12px;
	color: #857256;
	background-color: #D5CEBC;
	text-align: left;
	vertical-align: middle;
}

.buttonPag {
	border-style:none; 
	height:9; 
	width:8; 
}

.iconMod {
	display:none; 
	width: 18px; 
	height:14px; 
	border-style:none; 
}

/* ------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- ESTILO ELEMENTOS PANEL --------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* -----------------------*/
/*  ESTILO AYUDA EN PANEL */
.helpText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border: 0px;
	color: #4E4E4E;
}

.help {
	width: auto;
	margin:0 auto;
	padding-left: 10px;
	background:#f7f2cf;
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px; 
   -webkit-box-shadow: 3px 3px 0 #DFDFDF;
   -moz-box-shadow: 3px 3px 0 #DFDFDF;
}

/* ---------------*/
/* ESTILO SOLAPAS */
.containerFlaps {
	clear:both;	
	border-left:2px solid #A48669;
	border-bottom:2px solid #A48669;
	border-top:1px none #A48669;
}

/* SOLAPA INACTIVA */
.flap {
	top:0px;
	left:10px;
	height:26px;
	border-left:1px solid #FAF6EF;
	border-bottom:1px solid #A48669;
	background-color:#A48669;	
	cursor: pointer;
	float:left;
	z-index:0;
}

.cornerFlap {
	top:0px;
	left:96px;
	border-left: 0px solid #A48669;
	border-bottom: 27px solid #A48669;
	border-right:12px solid #FAF6EF;
	background-color: #FAF6EF;
	float:left;
}

.optionFlap {
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 5px;
	color: #F5EEE1;
	text-align: center;
	z-index: 1;
}

/* SOLAPA ACTIVA */
.flapOn {
	top:0px;
	left:10px;
	height:25px;
	border-left:2px solid #A48669;
	border-top:2px solid #A48669;
	background-color: #F3EEE1;
	float:left;
	z-index:0;
}

.cornerFlapOn {
	top:0px;
	left:96px;
	border-left:0px solid #F3EEE1;
	border-bottom:27px solid #F3EEE1;
	border-right:12px solid #FAF6EF;
	float:left;
}

.optionFlapOn {
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #A48669;
	text-align: center;
	z-index: 1;
}

/* --------------------- */
/* ESTILO PANEL TABULAR  */
.tabular {
	display:none;
}

.tabularHead {
	background-color: #FAF6EF;
}

.tabularTitle { 
	color: #A48669;
	border: 0px #FAF6EF solid;
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.columnTitle {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	vertical-align:top;
}

.tabularLineHead {  
	line-height: 2px;
	background-color: #A48669;
}

.tabularLineRow {
	line-height: 1px;
	background-color: #A48669;
}

/* ESTILO FILAS TABULAR */
/* par / impar */
.evenRecord {
	background-color: #FAF6EF;
}
.evenRecord input{
	background-color: #FAF6EF;
}
.evenRecord select{
	background-color: #FAF6EF;
}
.evenRecord textarea{
	background-color: #FAF6EF;
}

.oddRecord {
	background-color: #FAF6EF;
}
.oddRecord input{
	background-color: #FAF6EF;
}
.oddRecord select{
	background-color: #FAF6EF;
}
.oddRecord textarea{
	background-color: #FAF6EF;
}

/* colorear filas */
.alertRow {
	background-color: #FFE5C4;
}
.alertRow input {
	background-color: #FFE5C4;
}
.alertRow select {
	background-color: #FFE5C4;
}
.alertRow textarea {
	background-color: #FFE5C4;
}

.noticeRow {
	background-color: #D5CEBC;
}
.noticeRow input {
	background-color: #D5CEBC;
}
.noticeRow select {
	background-color: #D5CEBC;
}
.noticeRow textarea {
	background-color: #D5CEBC;
}

.errorRow {
	background-color: #F1C2C5;
}
.errorRow input {
	background-color: #F1C2C5;
}
.errorRow select {
	background-color: #F1C2C5;
}
.errorRow textarea {
	background-color: #F1C2C5;
}

.suggestionRow {
	background-color: #ced6b2;
}
.suggestionRow input {
	background-color: #ced6b2;
}
.suggestionRow select {
	background-color: #ced6b2;
}

/* Coloreado fila (on/over/borrada) */
.rowOn {
	background-color: #E8D8B8;
}
.rowOn input {
	background-color: #E8D8B8;
}
.rowOn select {
	background-color: #E8D8B8;
}
.rowOn textarea {
	background-color: #E8D8B8;
}

.rowOver {
	background-color: #E8D8B8;
}
.rowOver input {
	background-color: #E8D8B8;
}
.rowOver select {
	background-color: #E8D8B8;
}
.rowOver textarea {
	background-color: #E8D8B8;
}

.rowDeleted {
	background-color: #F3EEE1;
}
.rowDeleted input {
	background-color: #F3EEE1;
}
.rowDeleted select {
	background-color: #F3EEE1;
}
.rowDeleted textarea {
	background-color: #F3EEE1;
}

/* ------------------- */
/*  ESTILO INFO FECHA  */
.dateFormat {
	font-size: 10px;
	border: 0px;
	display: inline;
}

/* ---------------- */
/*  ESTILO BOTONES  */
.button {
	color: #857256;
	cursor:pointer;
	font-size: 11px;
	font-weight: normal;
	border: thin #857256 solid;
	background-color: #FFFFFF;
}

.button_on {
	color: #F5EEE1;
	cursor:pointer;
	font-size: 11px;
	font-weight: normal;
	border: thin #F5EEE1 solid;
	background-color: #B2691B;
}

.btnCalendar {
	width: 17px;
	height: 17px;
	vertical-align: middle; 
}

/* ---------------------- */
/*  ESTILO ETIQUETA RADIO */
.labelRadio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 0px;
	color: #857256;
}

/* -------------------------- */
/*  ESTILO CAMPO TEXTO ENLACE */
.link {
	text-decoration: underline;
	color: #857256;
}

/* ---------*/
/* CARGANDO */
.loading {
	font-weight: bold;
	color: #857256;
	background-color: #FAF6EF;
}

/* ----------------- */
/* ESTILO CWSelector */
.groupFields {
	color: #857256;
	border: 1px solid #857256;
	height: 18px;
}

/* --------------- */
/*  ESTADO CAMPOS  */
/* Aspecto campos dentro de un formulario de búsqueda o una ficha */
.edit {
	color: #857256;
	border: 1px solid #857256;
	background-color: #FFFFFF;
}

.noEdit {
	color: #857256;
	border: 1px solid #857256;
	background-color: #F3EEE1;
}

.new {
	color: #857256; 
	border: 1px solid #857256;
	background-color: #F3EEE1;
}

.modify {
	font-weight: bold;
	color: #857256;
	border: 1px solid #857256;
	background-color: #FFFFFF;
}

.delete {
	color: #CBCBCB;
}

/* ----------------------- */
/* ASPECTO CAMPOS EN TABLA */
/* editable = true */
.tableEdit {
	background-color: #FAF6EF;
}
/* editable = false */
.tableNoEdit {
	background-color: #FAF6EF;
}
/* editable = nuevo */
.tableNew {
	background-color: #FAF6EF;
}

.tableModify {
	font-weight: bold;
	color: #857256;
	border: 1px solid #857256;
}

.tableDelete {
	color: #CBCBCB;
	background-color: #F3EEE1;
}

.tableInsert {
	font-weight: bold;
	color: #857256;
	border: 1px solid #857256;
	background-color: #FFFFFF;
}

/*----------*/
/* MENSAJES */
/*----------*/
/* ESTILO PARA VENTANAS DE ERROR Y AVISO */
.backgroundGray { color: #000000; background-color: #DFDFDF; text-align: right; vertical-align: top; border:0px;}
.backgroundBlue { color: #000000; background-color: #2C658F;}
.backgroundRed { color: #000000; background-color: #BB000C;}
.backgroundGreen { color: #000000; background-color: #7A8F2C;}
.backgroundYellow { color: #000000; background-color: #FFAB3F;}
.shortNotice { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight:normal; color: #FFFFFF; text-align: left;}
.longNotice { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight:normal; text-align: left;background-color: #FFFFFF;}
.errorCode{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; color: #FFFFFF; }

/* ESTILO PARA EL ARBOL DE FICHEROS */
.arbol {
	background-color: #FAF6EF;
	border: 0px;
	vertical-align: top;
}

.arbolBorder {
	vertical-align: top;
	border-right-style: solid;
	border-right-width: 4px;
	border-right-color: #857256;
	background-color: #FAF6EF;
}

.arbolIgep {
	font-size: small;
	color: #857256;
	text-decoration: none;
}

.arbolIgep a {
	text-decoration: none;
	color: #857256;
}	

.arbolIgep a:link {
	text-decoration: none;
	color: #857256;
}

.arbolIgep a:visited {
	color: #857256;
	text-decoration : none;
}
 
.arbolIgep a:hover {
	color: #857256;
	font-weight: bold;
	text-decoration: none;
}

.arbolIgepSeleccionado {
	font-size: small;
	color: #B2691B;
	text-decoration: none;
	font-weight: bold;
}

.arbolIgepSeleccionado a {
	text-decoration: none;
	color: #B2691B;
}

.arbolIgepSeleccionado a:link {
	text-decoration: none;
	color: #B2691B;
}

.arbolIgepSeleccionado a:visited {
	color: #B2691B;
	text-decoration : none;
}

.arbolIgepSeleccionado a:hover {
	color: #B2691B;
	text-decoration: none;
}

.nodoIgep1 {
	font-size: small;
	font-style: italic;
	color: #857256;
	text-decoration: none;
}

.nodoIgep1 a {
	text-decoration: none;
	color: #857256;
}

.nodoIgep1 a:link {
	text-decoration: none;
	color: #857256;
}
 
.nodoIgep1 a:visited {
	color: #857256;
	text-decoration: none;
}
 
.nodoIgep1 a:hover {
	color: #857256;
	font-weight: bold;
	text-decoration: none;
}

.nodoIgep1Seleccionado {
	font-size: small;
	font-style: italic;
	color: #B2691B;
	text-decoration: none;
	font-weight: bold;
}

.nodoIgep1Seleccionado a {
	text-decoration: none;
	color: #B2691B;
}

.nodoIgep1Seleccionado a:link {
	text-decoration: none;
	color: #B2691B;
}

.nodoIgep1Seleccionado a:visited {
	color: #B2691B;
	text-decoration: none;
}

.nodoIgep1Seleccionado a:hover {
	color: #B2691B;
	text-decoration: none;
}

.nodoIgep2 {
	font-size: x-small;
	color: #857256;
	text-decoration: none;
}

.nodoIgep2 a:link {
	text-decoration: none;
	color: #857256;
}

.nodoIgep2 a:visited {
	color: #857256;
	text-decoration: none;
}

.nodoIgep2 a:hover {
	color: #857256;
	font-weight: bold;
	text-decoration: none;
}

.nodoIgep2Seleccionado {
	font-size: x-small;
	color: #B2691B;
	text-decoration: none;
	font-weight: bold;
}

.nodoIgep2Seleccionado a:link {
	text-decoration: none;
	color: #B2691B;
}

.nodoIgep2Seleccionado a:visited {
	color: #B2691B;
	text-decoration: none;
}

.nodoIgep2Seleccionado a:hover {
	color: #B2691B;
	font-weight: normal;
	text-decoration: none;
}

/************************************************************/
/* Enlaces pestañas maestro - nDetalles */
.linkDetailOn {    
	font-size: 10pt;
	font-weight: bold;
	padding: 4px;
	background-color: #A48669;
	border-top: 2px solid #666666;
    border-right: 3px solid #666666;
	color: #FFFFFF;
	text-decoration: none;
}

.linkDetail {
	font-size: 10pt;
	font-weight: bold;
	padding: 4px;
	background-color: #D5CEBC;
	color: #A48669;
	text-decoration: none;
}

.linkDetail:link,
.linkDetail:visited {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 2px solid #666666;
}

.linkDetail:hover {
	border-top: 2px solid #666666;
	border-right: 1px solid #cccccc;
	border-left: 2px solid #666666;
	color: #A48669;
	background-color: #D5CEBC;
}

/*****************************************************************/
/** Acerca de **/
/*****************************************************************/
.about {
  height: 300px;
  width: 400px;
  display: block;
  background: #e8e8e8;
  border: 5px solid #7d89a2; 
  -moz-border-radius: 5px 5px 5px 5px;  
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;  
   box-shadow: 5px 5px 0 #d7d2d2;
   -webkit-box-shadow: 5px 5px 0 #d7d2d2;
   -moz-box-shadow: 5px 5px 0 #d7d2d2;
  padding:5px 5px 5px 5px;  
}

.toolbarAbout {
  padding-left:0px;
  height: 150px;
  margin: 2px 5px;
  background: #FFFFFF;
  -moz-border-radius: 5px 5px 5px 5px;  
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;
  padding:10px 5px 10px 5px;  
  border:1px solid #C1CADD; 
  color: #000000;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.logoAbout {
  background: #FFFFFF;
  height: 150px;
  float:left;
}

img.logoAbout {
  height: 125px;
  border-color: none;
}

.titleAbout {
  font-weight: normal;
  padding-left:0px;
  width: 200px;
  height: 150px;
  float:right;
  color:#000000;
  background: #FFFFFF;
}

.text1 {
  font-weight:bold;
  font-size:16px;
  margin-left: 20px;
  margin-top: 40px;
  vertical-align:-70px;
  text-align:center;
}

.text2 {
  font-size:12px;
  margin-left: 20px;
  margin-top: 40px;
  vertical-align:-70px;
  text-align:center;
}

.text3 {
  font-weight:normal;
  font-size:10px;
  margin-left: 20px;
  margin-top: 40px;
  vertical-align:-70px;
  text-align:center;
}

.logoBottomAbout {
  float: none;
  margin-top: 30px;
  color:#000000;
  font-weight:normal;
  font-size:12px;
  vertical-align:middle;
  text-align:center;
}
 
.toolbarBottomAbout {
  float: none;
  margin-top: 10px;
  color:#000000;
  font-weight:normal;
  font-size:12px;
  vertical-align:middle;
  text-align:right;
}

/*************/
/** Bumpbox **/
/*************/
.growBumpbox {
	width: 1px;
    height: 1px;
    position: absolute;
    border: 1px solid #b76b28;
    padding: 4px;
    cursor: pointer;
    display: 'block';
    z-index: '100000';
    -moz-border-radius: 5px;
	-webkit-border-radius': 5px;
	border-radius: 5px;
	background: #111 url('igep/custom/css/cit.gva.es/bumpbox/demo_bg_bumpbox.png') repeat-x top left;
	-moz-box-shadow: 3px 3px 15px #000;
    -webkit-box-shadow: 3px 3px 15px #000;
    box-shadow: 3px 3px 15px #000;	
}

/* background que ocupará toda la pantalla, bloqueo */
.bgBumpbox {
	background: #35363b;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	position: absolute;
	left: 0;
	top: 0;
}